<body>
<header class="text-gray-600 body-font shadow-gray-300 shadow-lg sticky z-10">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 cursor-pointer"
            routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl font-bold">Gamer$ Arena</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900 cursor-pointer link link-underline link-underline-black" routerLink="/home">Home</a>
            <a class="mr-5 hover:text-gray-900 cursor-pointer link link-underline link-underline-black" routerLink="/product">All Products</a>
            <a class="mr-5 hover:text-gray-900 cursor-pointer link link-underline link-underline-black" routerLink="/contact">Contact</a>
            <a class="mr-5 hover:text-gray-900 cursor-pointer link link-underline link-underline-black">About</a>
            <a class="mr-5 hover:text-gray-900 cursor-pointer link link-underline link-underline-black" routerLink="/blog">Blogs</a>
        </nav>
          <button class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" routerLink="/cart">
        <fa-icon [icon]="faCartShopping"></fa-icon>
    </button>
        <button
            class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6 text-black">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 21l-6-6" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                    d="M15 11a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
        </button>
        <button class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" (click)="onLogout()" >
            Logout
        </button>
        

    </div>
</header>
</body>
