<app-header></app-header>

<body>
<div style="background-color: #F3F4F6; ">
    <section class="flex flex-col justify-between gap-6 sm:gap-10  md:gap-16 lg:flex-row ">
        <!-- content - start -->
        <div class="flex flex-col justify-center sm:text-center lg:py-12 lg:text-left xl:w-5/12 xl:py-24">
            <p class="mb-4 mx-10 font-semibold text-indigo-500 md:mb-6 md:text-lg xl:text-xl">Explore - Buy -
                Dominate!</p>

            <h1 class="mb-8 mx-10 text-4xl font-bold text-black sm:text-5xl md:mb-12 md:text-6xl">Unlock Your Gaming
                Adventure</h1>

            <p class="mb-8 mx-10 leading-relaxed text-gray-500 md:mb-12 lg:w-4/5 xl:text-lg">Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Accusamus officia pariatur debitis ratione autem ullam. Sit
                corporis quidem sequi! Maiores!</p>

            <div class="flex flex-col mx-10 gap-2.5 sm:flex-row sm:justify-center lg:justify-start">
                <a href="#"
                    class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition  hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base hover:-translate-y-2 duration-1000">Start
                    now</a>

                <a href="#"
                    class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition  hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base hover:-translate-y-2 duration-1000">Take
                    tour</a>
            </div>
        </div>
        <!-- content - end -->

        <!-- image - start -->
        <div class="h-48 overflow-hidden rounded-lg bg-gray-100  lg:h-auto xl:w-5/12 hover:drop-shadow-lg">
            <img src="assets/ban.png" loading="lazy" alt="Photo by Fakurian Design"
                class="h-full w-full object-cover object-center hover:-translate-y-3 duration-1000" />
        </div>
        <!-- image - end -->
    </section>
</div>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap m-4">
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/1.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Spiderman 2023</h2>
                    <p class="mt-1">$18.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/2.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">UFC 23</h2>
                    <p class="mt-1">$20.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/3.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">COD - Modern Warfare</h2>
                    <p class="mt-1">$19.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/4.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">W2C</h2>
                    <p class="mt-1">$15.45</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/5.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Ride 4</h2>
                    <p class="mt-1">$21.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/6.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button  (click)="addToCart()" type="button"
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">MX-GP 2023</h2>
                    <p class="mt-1">$25.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a  class="block relative h-48 rounded overflow-hidden"  >
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/7.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity" >
                        <button  type="button"
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity" >Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Hunting 2</h2>
                    <p class="mt-1">$11.40</p>
                </div>
            </div>
            <div
                class="lg:w-1/4 md:w-1/2 p-4 w-full relative group hover:-translate-y-3 duration-1000 hover:bg-cyan-50">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="assets/8.jpg">
                    <div class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-70 transition-opacity">
                        <button 
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-4 py-2 bg-indigo-600 text-white rounded-md opacity-100 group-hover:opacity-100 transition-opacity ">Add
                            to Cart</button>
                    </div>
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Video Games</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Tennis 2</h2>
                    <p class="mt-1">$21.40</p>
                </div>
            </div>


        </div>
    </div>
    
</section>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="flex flex-col overflow-hidden rounded-lg bg-white sm:flex-row md:h-80">
            <!-- content - start -->
            <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
                <h2 class="mb-4 text-xl font-bold text-black md:text-2xl lg:text-4xl">Summer Sale<br />Up to 70%
                    off.</h2>

                <p class="mb-8 max-w-md text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
                    modi aut incidunt soluta, officia corporis!</p>

                <div class="mt-auto">
                    <a href="#"
                        class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition hover:-translate-y-3 duration-1000 hover:bg-indigo-600 focus-visible:ring active:bg-cyan-200 md:text-base">Save
                        now</a>
                </div>
            </div>

            <div class="order-first h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
                <img src="https://c4.wallpaperflare.com/wallpaper/508/889/313/city-game-sky-cloud-wallpaper-preview.jpg"
                    loading="lazy" alt="Photo by Dom Hill" class="h-full w-full object-cover object-center" />
            </div>

        </div>
    </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">Customer Reviews
        </h2>

        <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6">
            <!-- review - start -->
            <div
                class="flex flex-col gap-3 rounded-lg border p-4 md:p-6  hover:drop-shadow-lg hover:-translate-y-2 duration-700 cursor-pointer">
                <div>
                    <span class="block text-sm font-bold md:text-base">John McCulling</span>
                    <span class="block text-sm text-gray-500">August 28, 2021</span>
                </div>

                <!-- stars - start -->
                <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                </div>
                <!-- stars - end -->

                <p class="text-gray-600 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, ratione
                    obcaecati? Eaque maxime quibusdam aliquid reprehenderit quam corporis, quasi ea.</p>
            </div>
            <!-- review - end -->

            <!-- review - start -->
            <div
                class="flex flex-col gap-3 rounded-lg border p-4 md:p-6 hover:drop-shadow-lg hover:-translate-y-2 duration-700 cursor-pointer">
                <div>
                    <span class="block text-sm font-bold md:text-base">Kate Berg</span>
                    <span class="block text-sm text-gray-500">July 21, 2021</span>
                </div>

                <!-- stars - start -->
                <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                </div>
                <!-- stars - end -->

                <p class="text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet officiis
                    iure amet nam perferendis quos sunt beatae rerum impedit dolorem.</p>
            </div>
            <!-- review - end -->

            <!-- review - start -->
            <div
                class="flex flex-col gap-3 rounded-lg border p-4 md:p-6 hover:drop-shadow-lg hover:-translate-y-2 duration-700 cursor-pointer">
                <div>
                    <span class="block text-sm font-bold md:text-base">Greg Jackson</span>
                    <span class="block text-sm text-gray-500">March 16, 2021</span>
                </div>

                <!-- stars - start -->
                <div class="-ml-1 flex gap-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-300" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                    </svg>
                </div>
                <!-- stars - end -->

                <p class="text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda,
                    deserunt asperiores quos ipsum cum hic doloribus labore pariatur temporibus accusamus?</p>
            </div>
            <!-- review - end -->
        </div>
    </div>
</div>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Ask Your Queries</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                        <input type="text" id="name" name="name"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                        <textarea id="message" name="message"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button
                        class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg hover:animate-pulse duration-1000">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<app-footer></app-footer>
